<!DOCTYPE HTML>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Disyntegration Spec Runner</title>

        <link rel="shortcut icon" type="image/png" href="http://localhost:<%= proxyPort %>/node_modules/jasmine-core/images/jasmine_favicon.png">
        <link rel="stylesheet" type="text/css" href="http://localhost:<%= proxyPort %>/node_modules/jasmine-core/lib/jasmine-core/jasmine.css">

        <script type="text/javascript" src="http://localhost:<%= proxyPort %>/node_modules/disyntegration/node_modules/jquery/dist/jquery.min.js"></script>

        <script type="text/javascript" src="http://localhost:<%= proxyPort %>/node_modules/jasmine-core/lib/jasmine-core/jasmine.js"></script>
        <script type="text/javascript" src="http://localhost:<%= proxyPort %>/node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
        <script type="text/javascript" src="http://localhost:<%= proxyPort %>/node_modules/jasmine-core/lib/jasmine-core/boot.js"></script>

        <!-- Load plugin scripts -->
        <% _.each(plugins, function(file) { %>
            <script type="text/javascript" src="http://localhost:<%= proxyPort %>/<%= file %>"></script>
        <% }) %>

        <script type="text/javascript" src="http://localhost:<%= proxyPort %>/node_modules/disyntegration/src/disyntegration.js"></script>

        <!-- Load spec scripts -->
        <% _.each(specs, function(file) { %>
            <script type="text/javascript" src="http://localhost:<%= proxyPort %>/<%= file %>"></script>
        <% }) %>
    </head>

    <body></body>
</html>
